<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibona.proxy.itest.mapper.ProductTpExtendMapper">

    <select id="listProductTpExtend" resultType="cn.ibona.proxy.itest.entity.ProductTpExtend">
        select * from t_mall_product_tp_extend where is_deleted=0 and product_id=#{productId}
    </select>
</mapper>